{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "airbnb-base",
  "parserOptions": { "ecmaVersion": 8 },
  "rules": {
    "semi": ["error", "never"],
    "arrow-parens": ["error", "as-needed"],
    "no-param-reassign": 0
  }
}
